# Normalize line endings
* text=auto eol=lf

*.json linguist-detectable=true

tests/** linguist-vendored=true
dev/** linguist-vendored=true

*.clp linguist-detectable=false
*.cmd linguist-detectable=false
*.py linguist-detectable=false
