# editor / workspace
.vscode/**
.vscode-test/**
.editorconfig
.nvmrc
.gitignore
.gitattributes
.git-blame-ignore-revs

# repo tooling and CI
.github/**
package-lock.json
node_modules/**

tmp/**
*.vsix

# test files
tests/**
dev/**

# docs and media
screenshots/**
CONTRIBUTING.md
RELEASING.md
SECURITY.md
vsc-extension-quickstart.md
